<br>
<br>
<br>
<h1>Card Index</h1>
<p>Navigation</p>
<ul>
  <li>Users - list of all users, roles and operations with them</li>
  <li>Article assessment - list of all assessments and operations with them</li>
  <li>Articles - list of all articles, themes, operations with them, and serach by articles</li>
</ul>
<p>Actions</p>
<ul>
  <li *ngIf = "is_admin || is_author" ><button class="btn  btn-primary"><i class="bi bi-vector-pen"></i></button> - update</li>
  <br>
  <li *ngIf = "is_admin || is_author"><button class="btn  btn-danger leftbutton"><i class="bi bi-trash"></i></button> - delete</li>
  <br>
  <li><button class="btn btn-success " ><i class="bi bi-bookmark-check"></i></button> - save</li>
  <br>
  <li><button class="btn btn-warning leftbutton"><i class="bi bi-bookmark-x"></i></button> - cencel</li>
  <br>
  <li><button class = "btn btn-outline-primary  leftbutton"><i class="bi bi-search"></i></button> - search</li>
</ul>

