

<!-- Right Sidebar with the list of all themes-->
<div *ngIf = "!addMode">
<ul class="sidebar-nav">
    <div *ngIf = "!addThemeMode else createTheme">  
        <a>
            <strong>The list of themes</strong>
            <button *ngIf = "is_admin || is_author" class="btn btn-success" (click) = "addTheme()"><strong><i class="bi bi-plus-lg"></i></strong> Add</button>
        </a>
        <hr>
        <div *ngFor="let theme of _allThemes">
            <a> 
                <button *ngIf = "is_admin || is_author" class="btn  btn-danger" (click) = "deleteTheme(theme)"><i class="bi bi-trash"></i></button>
                {{theme.name}}   
            </a>
        </div>
    </div>
</ul>
</div>

 <div *ngIf = "!addMode else createCard">
    <!--Left navbar for serching articles-->
    <div id="mySidenav" class="sidenav">
        <a>
            <div>
                <h2>Search Bar</h2>
            </div>
        </a>
        <div>
            <select [(ngModel)]="searchTheme" class="form-group searchFieldSize">
                <option *ngFor="let x of _allThemes" [value]="x.name">{{x.name}}</option>
              </select>
            <button class = "btn btn-outline-light leftbutton btn-size" (click) = "searchByTheme()"><i class="bi bi-search"></i> by theme</button>
        </div>
        <div>
            <select [(ngModel)]="searchTitle" class="form-group searchFieldSize">
                <option *ngFor="let x of _allCards" [value]="x.title">{{x.title}}</option>
            </select>
            <button class = "btn btn-outline-light leftbutton btn-size" (click) = "searchByTitle()"><i class="bi bi-search"></i> by title</button>
        </div>
        <div>
            <input class="form-group" [(ngModel)] = "lenght" type="number" placeholder="Lenght(>50)">
            <button class = "btn btn-outline-light leftbutton btn-size" (click) = "searchByLenght()"><i class="bi bi-search"></i> by lenght</button>
        </div>
        <div>
            <input class = "number" [(ngModel)] = "minRate" type="number" placeholder="min rate">
            <input class = "number"  [(ngModel)] = "maxRate" type="number" placeholder="max rate">
            <button class = "btn btn-outline-light leftbutton btn-size" (click) = "searchByRate()"><i class="bi bi-search"></i> by rate</button>
        </div>
        <div>
            <button class = "btn btn-outline-light leftbutton btn-size" (click) = "cleanSerchBar()">Clean</button>
        </div>
    </div>

    <br>


    <br>
    <br>
    <br>
    <button *ngIf = 'is_author' class="btn btn-outline-primary" (click)="add()"><strong><i class="bi bi-plus-lg"></i></strong> Add</button>
    <hr> 
    <!--Rendering the list of articles-->
    <div *ngFor="let card of _allCards">
        <ng-template [ngIf]="buffCard?.id != card.id" [ngIfElse]="updateCard">
            <details> 
                <summary><h1>{{card.title}}</h1></summary>
                <h3 class="artilce-body">{{card.body}}</h3>
            
                <p class="article-desc"> <strong>Was posted</strong>  - {{card.created}}</p>
                <p class="article-desc"> <strong>Author </strong> - {{card.authorFullName}}</p>
                <p class="article-desc"> <strong>Rate</strong> - {{card.avgRate}}</p>
                <p class="article-desc"> <strong>Theme</strong> - {{card.themeName}}</p>
            <button *ngIf = 'is_author || is_admin' class="btn  btn-primary"(click) = "update(card)" ><i class="bi bi-vector-pen"></i></button>
            <button *ngIf = 'is_admin' class="btn  btn-danger leftbutton" (click) = "delete(card)"><i class="bi bi-trash"></i></button>
            </details>
            <hr>
        </ng-template>
    </div>
</div>


<ng-template #createTheme>
    <div class="form-group">
        <input type="text" id="name" [(ngModel)]="buffTheme.name" class="form-control" name="name" placeholder="Name"
        #name="ngModel" required minlength="2" maxlength="20"/>
        <div *ngIf="name.invalid && (name.touched || name.dirty)" class="alert alert-danger">
            <div *ngIf="name.touched && !name.dirty">
                 Theme should be named.
            </div>
            <div *ngIf="!(name.length > 2)">
                Theme name must be at least 2 characters long.
            </div>
        </div>
    </div>  
    <div>
        <span *ngIf="name.valid && name.dirty">
            <button (click)="saveThemeAdd()" class="btn btn-success " ><i class="bi bi-bookmark-check"></i></button>
        </span>

        <button (click)="cancelTheme()" class="btn btn-warning leftbutton"><i class="bi bi-bookmark-x"></i></button>
    </div>
</ng-template>


<!--Templates for update and create Article-->
<ng-template #createCard>
    <br>
    <br>
    <br>
    <div class="form-group">
        <label>Title</label>
        <input type="text" id="title" [(ngModel)]="buffCard.title" name= "title" class="form-control" placeholder="Title" 
        #title="ngModel" required minlength="5" maxlength="70"/>
        <div *ngIf="title.invalid && (title.touched || title.dirty)" class="alert alert-danger">
            <div *ngIf="title.touched && !title.dirty">
                 Title is required.
            </div>
            <div *ngIf="!(title.length > 5)">
                The title must be at least 5 characters long.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Body</label>
        <input type="text" id="body" [(ngModel)]="buffCard.body" name="body" class="form-control" placeholder="Card"  #body="ngModel"
        required minlength="50" maxlength="5000"/>
        <div *ngIf="body.invalid && (body.touched || body.dirty)" class="alert alert-danger">
            <div *ngIf="body.touched && !body.dirty">
                 Card can not be empty is.
            </div>
            <div *ngIf="!(body.length > 50)">
                The Card must be at least 50 characters long.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Author full name</label>
        <input type="text" id="fullName" [(ngModel)]="buffCard.authorFullName" name="fullName" class="form-control" placeholder="Enter your full name" 
        #fullName="ngModel" required maxlength="100"/>
        <div *ngIf="fullName.invalid && (fullName.touched || fullName.dirty)" class="alert alert-danger">
            <div *ngIf="fullName.touched && !fullName.dirty">
                 Author full name is required.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Theme </label>
        <select [(ngModel)]="buffCard.themeName" class="form-control">
            <option *ngFor="let x of _allThemes" [value]="x.name">{{x.name}}</option>
          </select>
    </div>
    <div >
        <span *ngIf ="(title.valid && title.dirty) && (body.valid && body.dirty) 
        && (fullName.valid && fullName.dirty)">
            <button  (click)="saveAdd()" class="btn btn-success" formnovalidate><i class="bi bi-bookmark-check"></i></button>
        </span>
        
        <button (click)="cancel()" class="btn btn-warning leftbutton"><i class="bi bi-bookmark-x"></i></button>
    </div>
</ng-template>


<ng-template #updateCard>

    <div class="form-group">
        <input type="text" id="title" [(ngModel)]="buffCard.title" name= "title" class="form-control" placeholder="Title" 
        #title="ngModel" required minlength="5" maxlength="70"/>
        <div *ngIf="title.invalid && (title.touched || title.dirty)" class="alert alert-danger">
            <div *ngIf="title.touched && !title.dirty">
                 Title is required.
            </div>
            <div *ngIf="!(title.length > 5)">
                The title must be at least 5 characters long.
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="text" id="body" [(ngModel)]="buffCard.body" name="body" class="form-control" placeholder="Card"  #body="ngModel"
        required minlength="50" maxlength="5000"/>
        <div *ngIf="body.invalid && (body.touched || body.dirty)" class="alert alert-danger">
            <div *ngIf="body.touched && !body.dirty">
                 Card can not be empty is.
            </div>
            <div *ngIf="!(body.length > 50)">
                The Card must be at least 50 characters long.
            </div>
        </div>
    </div>
   <!--  <div class="form-group">
        <input type="text" id="fullName" [(ngModel)]="buffCard.authorFullName" name="fullName" class="form-control" placeholder="Enter your full name" 
        #fullName="ngModel" required maxlength="100"/>
        <div *ngIf="fullName.invalid && (fullName.touched || fullName.dirty)" class="alert alert-danger">
            <div *ngIf="fullName.touched && !fullName.dirty">
                 Author full name is required.
            </div>
        </div>
    </div> -->
    <div class="form-group">
        <select [(ngModel)]="buffCard.themeName" class="form-control">
            <option *ngFor="let x of _allThemes" [value]="x.name">{{x.name}}</option>
          </select>
    </div>
        <button (click)="saveUpdate()" class="btn btn-success"><i class="bi bi-bookmark-check"></i></button>
        <button (click)="cancel()" class="btn btn-warning leftbutton"><i class="bi bi-bookmark-x"></i></button>
</ng-template>
