h1:hover {
    color: grey;
}

.artical_desc{
    color: black;
    font-size: 50px;
    text-decoration: solid;
}

.acrtical_body{
    font-size: 20px;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

  .leftbutton{
      margin-left: 1ex;
  }

  .upd-article-inp{
    margin-bottom: 1ex;
  }

  .btn-size
  {
    width: 40%;
  }

  /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 350px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 0; /* Stay on top */
    top: 6%; /* Stay at the top */
    left: 0;
    background-color: rgb(7, 7, 7); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }


  .sidenav div{
      margin-left: 1ex;
  }

  .number {
    width: 5.9em;
  }




  .sidebar-nav {
    height: 100%; /* 100% Full-height */
    width: 350px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 0; /* Stay on top */
    top: 6%; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  .sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
  }
  
  .sidebar-nav  a {
    padding: 8px 32px 2px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  
  .sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
  }

  .searchFieldSize{
    width: 55.5%;
    height: 30px;
  }
  